@font-face {
    font-family: FS Humana;
    src: url('fonts/fs-humana.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: FS Humana;
    src: url('fonts/fs-humana-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: FS Humana;
    src: url('fonts/fs-humana-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: FS Humana;
    src: url('fonts/fs-humana-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: FS Humana;
    src: url('fonts/fs-humana-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: "FS Humana";
}

main {
	max-width: 50em;
	padding: 2em 1em;
	margin: auto;
	border: 0px solid red;
}

.logo img {
	width: 10em;
}

h1 {
	color: #4a7729;
	font-weight: normal;
}